@import "gruvbox.css";
@import "fonts.css";

html {
    background-color: var(--bg);
    font-family: JetBrainsMono, sans-serif;
    color: var(--fg1);
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

svg {
    color: var(--fg1);
}
