@import "gruvbox.css";

html {
    background-color: var(--bg);
    font-family: sans-serif;
    color: var(--fg1);
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

svg {
    color: var(--fg1);
}

/* nav styles */

.menu {
    background-color: var(--bg);
    border: none;
    color: var(--fg1);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--fg2);
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: var(--bg2);
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}
