@import "gruvbox.css";
@import "fonts.css";

html {
    background-color: var(--bg);
    background-size: 40px 40px;
    background-image:
        linear-gradient(
            to right,
            rgba(168, 153, 132, 0.1) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(168, 153, 132, 0.1) 1px,
            transparent 1px
        );
    font-family: JetBrainsMono, sans-serif;
    color: var(--fg1);
}

body {
    margin: 0 auto;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

svg {
    color: var(--fg1);
}

img {
    display: block;
}

/* selection */

::selection {
    background: var(--orange);
    color: var(--bg);
    text-shadow: none;
}

::-moz-selection {
    background: var(--orange);
    color: var(--bg);
    text-shadow: none;
}

/* paper styles */
.paper-border {
    border: 2px solid var(--fg2);
}

.paper-shadow {
    box-shadow: 3px 3px 0px 0px var(--fg3);
}

.paper-button {
    border: 2px solid var(--fg2);
    box-shadow: 3px 3px 0px 0px var(--fg3);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.05s ease;
    cursor: pointer;
}

.paper-button:hover {
    background: var(--bg2);
}

.paper-button:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px 0px var(--fg3);
}

.paper-animation {
    transition: all 0.05s ease;
}

/* responsive */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 700px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
