@import "gruvbox.css";
@import "fonts.css";

html {
    background-color: var(--bg);
    background-size: 40px 40px;
    background-image:
        linear-gradient(
            to right,
            rgba(168, 153, 132, 0.1) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(168, 153, 132, 0.1) 1px,
            transparent 1px
        );
    font-family: JetBrainsMono, sans-serif;
    color: var(--fg1);
}

body {
    margin: 0 auto;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

svg {
    color: var(--fg1);
}

/* selection */

::selection {
    background: var(--orange);
    color: var(--bg);
    text-shadow: none;
}

::-moz-selection {
    background: #ff0099;
    color: #eee;
    text-shadow: none;
}

/* paper styles */
.paper-border {
    border: 3px solid var(--fg1);
}

.paper-shadow {
    box-shadow: 4px 4px 0px 0px var(--fg1);
}

.paper-button {
    border: 3px solid var(--fg1);
    box-shadow: 4px 4px 0px 0px var(--fg1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.paper-animation:hover {
    animation: paper-hover 0.2s ease-in-out forwards;
}

.paper-button:hover {
    animation: paper-hover 0.2s ease-in-out forwards;
}

@keyframes paper-hover {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(-2px, -2px) rotate(-1deg);
    }
}

.paper-button:hover {
    background: var(--bg2);
}

/* responsive */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 700px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
