@import "gruvbox.css";
@import "fonts.css";

html {
    background-color: var(--bg);
    background-size: 40px 40px;
    background-image:
        linear-gradient(
            to right,
            rgba(168, 153, 132, 0.1) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(168, 153, 132, 0.1) 1px,
            transparent 1px
        );
    font-family: JetBrainsMono, sans-serif;
    color: var(--fg1);
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

svg {
    color: var(--fg1);
}

/* selection */

::selection {
    background: var(--orange);
    color: var(--bg);
    text-shadow: none;
}

::-moz-selection {
    background: #ff0099;
    color: #eee;
    text-shadow: none;
}

/* paper styles */
.paper-border {
    border: 3px solid var(--fg1);
}

.paper-shadow {
    box-shadow: 4px 4px 0px 0px var(--fg1);
}

.paper-button {
    border: 3px solid var(--fg1);
    box-shadow: 4px 4px 0px 0px var(--fg1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.paper-button:hover {
    background: var(--bg2);
}
