:root {
    color-scheme: light;

    --black: #282828;

    /* Background colors */
    --bg_hard: light-dark(#f9f5d7, #1d2021);
    --bg: light-dark(#fbf1c7, #282828);
    --bg_soft: light-dark(#f2e5bc, #32302f);
    --bg1: light-dark(#ebdbb2, #3c3836);
    --bg2: light-dark(#d5c4a1, #504945);
    --bg3: light-dark(#bdae93, #665c54);
    --bg4: light-dark(#a89984, #7c6f64);

    /* Foreground colors */
    --fg: light-dark(#282828, #fbf1c7);
    --fg1: light-dark(#3c3836, #ebdbb2);
    --fg2: light-dark(#504945, #d5c4a1);
    --fg3: light-dark(#665c54, #bdae93);
    --fg4: light-dark(#7c6f64, #a89984);

    /* Main accent colors */
    --red: light-dark(#9d0006, #fb4934);
    --green: light-dark(#79740e, #b8bb26);
    --yellow: light-dark(#b57614, #fabd2f);
    --blue: light-dark(#076678, #83a598);
    --purple: light-dark(#8f3f71, #d3869b);
    --aqua: light-dark(#427b58, #8ec07c);
    --orange: light-dark(#af3a03, #fe8019);
    --gray: light-dark(#928374, #928374);

    /* Dimmed accent colors */
    --red-dim: light-dark(#cc2412, #cc2412);
    --green-dim: light-dark(#98971a, #98971a);
    --yellow-dim: light-dark(#d79921, #d79921);
    --blue-dim: light-dark(#458598, #458588);
    --purple-dim: light-dark(#b16286, #b16286);
    --aqua-dim: light-dark(#689d6a, #689d6a);
    --orange-dim: light-dark(#d65d0e, #d65d0e);
    --gray-dim: light-dark(#7c6f64, #a89984);
}

:root.dark {
    color-scheme: dark;
}

/* Normal Colors */

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.aqua {
    color: var(--aqua);
}

.gray {
    color: var(--gray);
}

.orange {
    color: var(--orange);
}

.black {
    color: var(--black);
}

/* Dim Colors */

.red-dim {
    color: var(--red-dim);
}

.green-dim {
    color: var(--green-dim);
}

.yellow-dim {
    color: var(--yellow-dim);
}

.blue-dim {
    color: var(--blue-dim);
}

.purple-dim {
    color: var(--purple-dim);
}

.aqua-dim {
    color: var(--aqua-dim);
}

.gray-dim {
    color: var(--gray-dim);
}

.orange-dim {
    color: var(--orange-dim);
}

/* Foreground Colors */

.fg {
    color: var(--fg);
}

.fg1 {
    color: var(--fg1);
}

.fg2 {
    color: var(--fg2);
}

.fg3 {
    color: var(--fg3);
}

.fg4 {
    color: var(--fg4);
}

/* Background Colors */

.bg-hard {
    color: var(--bg_h);
}

.bg {
    color: var(--bg);
}

.bg-soft {
    color: var(--bg_s);
}

.bg1 {
    color: var(--bg1);
}

.bg2 {
    color: var(--bg2);
}

.bg3 {
    color: var(--bg3);
}

.bg4 {
    color: var(--bg4);
}
