---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout>
    <div class="container">
        <Icon name="ic:baseline-block" class="error-icon" />
        <h1>404 - Page Not Found</h1>
        <p>Oops! The route you're looking for doesn't exist.</p>
        <a href="/" class="home-button button-shadow">Return to Homepage</a>
    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        text-align: center;
        padding: 2rem;
    }

    .error-icon {
        font-size: 20rem;
        color: var(--red-dim);
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        color: var(--fg);
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        color: var(--fg2);
    }

    .home-button {
        padding: 0.75rem 1.5rem;
        background-color: var(--red-dim);
        color: var(--bg);
        text-decoration: none;
        font-weight: 600;
        border: 2px solid var(--fg);
    }

    .home-button:hover {
        background-color: var(--red);
    }

    .home-button:active {
        transform: translateY(0);
    }
</style>
