---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Yojo | Home</title>
    </head>
    <body>
        <BaseLayout>
            <div>
                <h1>My personal (y)dojo</h1>
            </div>
        </BaseLayout>
    </body>
</html>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h1 {
        font-size: 11rem;
        line-height: 1.4;
    }
</style>
