---
import Logo from "../Logo.astro";
import Navigation from "./Navigation.astro";
import RSSButton from "./RSSButton.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Logo />
        <Navigation />
        <div class="single-row">
            <RSSButton />
            <ThemeIcon />
        </div>
    </nav>
</header>

<style>
    nav {
        min-height: 82px;

        background-color: var(--bg_soft);
        position: sticky;
        top: 0;
        border-bottom: 4px solid var(--fg2);
        width: 100%;
        z-index: 10;

        padding: 2px 16px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    @media (max-width: 700px) {
        nav {
            justify-content: center;
            padding: 12px;
            gap: 12px;
        }
    }

    .single-row {
        display: flex;
        align-items: center;
        gap: 12px;
    }
</style>
