---
const currentPath = Astro.url.pathname;
---

<nav class="navigation">
    <div class="nav-container paper-border">
        <a
            href="/"
            class:list={[
                "nav-link paper-animation",
                { active: currentPath === "/" },
            ]}>/home</a
        >
        <!-- <a
            href="/projects"
            class:list={["nav-link", { active: currentPath === "/projects" }]}
            >/projects</a
        > -->
        <a
            href="/blog"
            class:list={[
                "nav-link paper-animation",
                {
                    active:
                        currentPath === "/blog" ||
                        currentPath.startsWith("/blog/"),
                },
            ]}>/blog</a
        >
        <!-- <a
            href="/contact"
            class:list={["nav-link", { active: currentPath === "/contact" }]}
            >/contact</a
        > -->
    </div>
</nav>

<style>
    .navigation {
        height: 50px;
    }

    .nav-container {
        display: flex;
        background-color: var(--bg);
    }

    .nav-link {
        padding: 4px 16px;
        margin: 6px 6px;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--fg1);
        background-color: var(--bg_soft);
        transition: background-color 0.2s ease;
        border: 2px solid var(--fg1);
    }

    .nav-link:hover {
        background-color: var(--bg2);
    }

    .nav-link.active {
        background-color: var(--yellow-dim);
        color: var(--black);
        font-weight: 600;
    }
</style>
