---
import Social from "./Social.astro";

interface Platform {
    platform: string;
    username: string;
    text: string;
}

const platforms: Platform[] = [
    {
        platform: "Github",
        username: "yanklio",
        text: "Learn more about my projects on",
    },
    {
        platform: "LinkedIn",
        username: "yaroslav-u",
        text: "Learn more about my professional experience on",
    },
];
---

<footer>
    {
        platforms.map((platform) => (
            <p>
                {platform.text}{" "}
                <Social
                    platform={platform.platform}
                    username={platform.username}
                />
            </p>
        ))
    }
</footer>
