---
import Social from "./Social.astro";

interface Platform {
    platform: string;
    username: string;
    link: string;
}

const platforms: Platform[] = [
    {
        platform: "Github",
        username: "yanklio",
        link: "https://github.com/yanklio",
    },
    {
        platform: "LinkedIn",
        username: "yaroslav-u",
        link: "https://www.linkedin.com/in/yaroslav-u",
    },
];
---

<footer>
    <p>Contact:</p>
    {
        platforms.map((platform) => (
            <p>
                <Social
                    platform={platform.platform}
                    username={platform.username}
                    link={platform.link}
                />
            </p>
        ))
    }
</footer>

<style>
    footer {
        bottom: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: var(--fg1);

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 16px;

        color: var(--bg1);
    }
</style>
